@charset "utf-8";
a,
article,
aside,
body,
button,
dd,
details,
div,
dl,
dt,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
img,
input,
li,
menu,
nav,
ol,
p,
section,
select,
table,
tbody,
td,
textarea,
th,
tr,
ul {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    /* border: none */
}

html,
body {
    height: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0;
    display: block;
}

clear_fix::after{
    content:"";
    display: block;
    clear:both;
    overflow:hidden;
     height:0;
     visibility:hidden;
}